/*Below is the styling for the calendar. It include styling for the goal
for the events, as wells as the actual calendar
They include font, fontsize, coloring as well as other styling aspects*/
#calendar{
    width:100%;
    display:inline-block;
}
#rightEvents{
    width: 100%;
    display: block;
    border-color: rgb(78, 78, 185);
    border-style: double;
    float: right;
    background-color: rgb(247, 247, 247);
    margin-top: 0pt;  
}
#specialDay{
    width: 100%;
    display: none;
    border-color: rgb(78, 78, 185);
    border-style: double;
    float: right;
    background-color: rgb(247, 247, 247);
    margin-top: 0pt;
}
#todayGoals{
    width: 100%;
    display: block;
    border-color: rgb(78, 78, 185);
    border-style: double;
    float: right;
    background-color: lavender;
    font-family: Merienda One;
    margin-bottom: 0pt;

}
.custom-cm{
    background-color: lightgrey;
    border:1px solid black;
    box-shadow:1px 1px 5px rgba(0,0,0,1);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding:3px;
    width:100px;
    display:none;
    position: fixed;
    z-index: 999999;
    margin-top:0px;
  
  }
  .custom-cm__item{
    cursor: pointer;
    padding: 3px 3px;
    font-family: 'Poppins', sans-serif;
  }
  .custom-cm__item:hover{
    background-color: rgb(175, 159, 159);
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    ul li {
    display: block;
    position: relative;
    }
.cld-main{
width: 100%;
}
.cld-main a{
color: #333;
font-weight: bold;
}
.cld-datetime{
position: relative;
width: 66%;
min-width: 100px;
max-width: 300px;
margin: auto;
overflow: hidden;
}
.cld-datetime .today{
position: relative;
float: left;
width: calc(100% - 40px);
margin: auto;
text-align: center;
font: 25 25px/1.2 'Merienda One', Helvetica, sans-serif;
color: rgba(0,0,0,0.7);

}
.cld-nav{
position: relative;
width: 20px;
height: 20px;
margin-top: 2px;
}
.cld-nav:hover{
cursor: pointer;
}
.cld-nav:hover svg{
fill: #666;
}
.cld-rwd{
float: left;
}
.cld-fwd{
float: right;
}

.cld-labels, .cld-days{
padding-left: 0;
}
.cld-label, .cld-day{
display: inline-block;
width: 14.28%;
text-align: center;
font: 15 15px/1.2 'Merienda One', Helvetica, sans-serif;
color: rgba(0,0,0,0.7);
text-shadow: 3px 3px 3px #fff
}
.cld-day.today .cld-number{
display: inline-block;
height: 35px;
width: 35px;
border-radius: 50px;
background: #666;
color: #fff;
}
.cld-day.disableDay{
opacity: 0.5;
}
.cld-day.nextMonth, .cld-day.prevMonth{
opacity: 0.33;
}
.cld-number{
position: relative;
margin: 5px;
padding: 5px;
font: 17 17px/1.2 'Merienda One', Helvetica, sans-serif;
color: rgba(0,0,0,0.7);
text-shadow: 3px 3px 3px #fff
}
.cld-title{
    position: absolute;
    z-index: 5;
    display: none;
    top: 30px;
    left: 0;
    padding: 5px 10px;
    background: #fff;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
.cld-number:hover .cld-title{
    display: block;
}
.cld-title::before{
    content: '';
    position: absolute;
    top: -7.5px; left: 7.5px;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;

    border-bottom: 7.5px solid #ccc;
}
.cld-number.eventday{
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1px solid #999;
}
.cld-number.eventday:hover{
    cursor: pointer;
    background: #eee;
}
.today .cld-number.eventday:hover{
    background: #888;
}
body{
font-family: Calibri, sans-serif;
font-family: 'Roboto Condensed', sans-serif;
color: #333;
}
.cld-main{
width: 100%;
}
.cld-main a{
color: #0080FF;
}
.cld-main svg{
fill: #0080FF;
}
.cld-datetime{
position: relative;
width: 66%;
min-width: 100px;
max-width: 300px;
margin: auto;
overflow: hidden;
}
.cld-datetime .today{
position: relative;
float: left;
width: calc(100% - 40px);
margin: auto;
text-align: center;
}
.cld-nav{
position: relative;
width: 20px;
height: 20px;
margin-top: 2px;
}
.cld-nav:hover{
cursor: pointer;
}
.cld-nav:hover svg{
fill: #005EFF;
}
.cld-rwd{
float: left;
}
.cld-fwd{
float: right;
}

.cld-labels, .cld-days{
padding-left: 0;
}
.cld-label, .cld-day{
box-sizing: border-box;
display: inline-block;
width: 14.28%;
text-align: center;
}
.cld-day{
border: 1px solid #eee;
}
.cld-day.today .cld-number{
background: rgb(179, 206, 233);
color: grey;
}
.cld-day.disableDay{
opacity: 0.5;
}
.cld-day.nextMonth, .cld-day.prevMonth{
opacity: 0.33;
}
.cld-number{
position: relative;
margin: 0;
padding: 10px;
}
.cld-title{
    position: absolute;
    z-index: 5;
    display: none;
    top: 35px;
    left: 0;
    padding: 5px 10px;
    background: #fff;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
/****************************************************/
.cld-number:hover .cld-title{
    display: none;
}
/******************************************************/
.cld-title::before{
    content: '';
    position: absolute;
    top: -7.5px; left: 10px;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;

    border-bottom: 7.5px solid #ccc;
}
.cld-number.eventday{
    font-weight: bold;
    color: darkcyan;
}
.cld-number.eventday:hover{
    cursor: pointer;
    background: #eee;
}
.today .cld-number.eventday:hover{
    background: #005EFF;
}
