<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
<br/>
<div class="headerTitle">
  <img src="/img" alt="logo" width="120" height="100">
  <h1 style="display: inline-block; font-family: Georgia,serif;"> Virtual Connections </h1>

</div>
<div class="sidebar" style="width: 15%; float:left">
  <nav class="navi" role="navigation">
         <ul class="nav navbar-left">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
  </nav>
</div>

  <br/>
  <div class="jumbotron" style="width:80%;float:left">
  <p style="font-family: Alegreya; margin-left: 8px;">
    Study groups are an excellent way to hone social skills, eliminate procrastination, and enhance learning. However, many students at RPI may not know other students in their classes, while others have busy schedules and have difficulty finding a time, optimal for all their friends, to study. Our product will give RPI students the opportunity to meet other students and form a study group to help them academically and socially. The product will prioritize matching students based on time availability. This way, students can optimize their studying, while being able to collaborate and teach and learn from peers.
    The competitive advantage our product would have over other products is it would be more specifically tailored to RPI. 
    <br> The Team consists of: </br> 
    ~ Michael Fitzgerald
  </br>
    ~ Helen Yuan
  </br>
    ~ Meenu Ravi
  </br>
    ~ Lyle Tingle
  </br>
    ~ Gavril Rodriguez-Thompson
    </br>
  </p>
</div>
  </div>
</body>
</html>