<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="script.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/aboutcss">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand" href="/"><img src="/img" width="30" height="30" class="d-inline-block align-top" alt="">Virtual Connections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/login"><span>Login</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><span>Sign Up</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <section>
  	 <div class="bgimg-1">
	    <div class="w3-display-middle" style="white-space:nowrap;">
	      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ABOUT<span class="w3-hide-small"> US</span> </span>
	    </div>
	  </div>
  </section> 
	<section style="padding: 50px; background-color: #e3dfdb;">
		<div style="background: white; padding: 50px;">
		  <div style="padding: 0 12px;">
		  	<p style="font-size:16px;">
		    Study groups are an excellent way to hone social skills, eliminate procrastination, 
		    and enhance learning. However, many students at RPI may not know other students in 
		    their classes, while others have busy schedules and have difficulty finding a time, 
		    optimal for all their friends, to study. Our product will give RPI students the opportunity
		    to meet other students and form a study group to help them academically and socially.
		    The product will prioritize matching students based on time availability. This way, 
		    students can optimize their studying, while being able to collaborate and teach 
		    and learn from peers. The competitive advantage our product would have over other 
		    products is it would be more specifically tailored to RPI. Our product is an easy to use web 
		    application designed to foster the development of study groups in various RPI classes by providing
		    intuitive scheduling tools. The product solves the issue of organizing study groups by creating times
		    to meet based on availability throughout the year. 
			  </p>
		  </div>
		</div>
	  <br>
	  <div style="background: white; padding: 50px;">
	  	<h2 style="font-family: Merienda One;">Our Team</h2>
		  <div class="row">
		    <div class="col">
		      <img src="/mf" style="width:100%">
		      <div>
		        <p id="Names"><b>Michael Fitzgerald</b></p>
		        <p>Michael has been working on the back end of this application. He is the Scrum Master</p>
		      </div>
		    </div>
		    <div class="col">
		      <img src="/mr" style="width:100%">
		      <div >
		        <p id="Names"><b>Meenu Ravi</b></p>
		        <p>Meenu has been working on the front end of this application. She is one of the three developers.</p>
		      </div>
		    </div>
		    <div class="col">
		      <img src="/gr" style="width:100%">
		      <div>
		        <p id="Names"><b>Gavril Rodriguez-Thompson</b></p>
		        <p>Gavril has been working on the back end of this application. He is one of the three developers.</p>
		      </div>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col">
		      <img src="/lt" style="width:100%">
		      <div>
		        <p id="Names"><b>Lyle Tingle</b></p>
		        <p>Lyle has been working on both the front end and the back end of this application. He is one of the three developers.</p>
		      </div>
		    </div>
		    <div class="col">
		      <img src="/hy" style="width:100%">
		      <div>
		        <p id="Names"><b>Helen Yuan</b></p>
		        <p>Helen has been working on the front end of this application. She is the Product owner.</p>
		      </div>
		    </div>
		    <div class="col">
		      <img src="/moreinfo" style="width:100%">
		      <div>
		        <p id="Names"><b>More Info</b></p>
		        <p>For more information about this, please visit our GitHub at <a href ="https://github.com/hyuan0v0/SD-D-Project"> https://github.com/hyuan0v0/SD-D-Project</a></p>
		      </div>
		    </div>
		  </div>
	  </div>
	  
	  <br>
	  <br>

	  <div style="background: white; padding: 50px;">
	  	<h2 style="font-family: Merienda One; text-align: left;">Product Advantage</h2>
		  <div style="padding: 0 12px;">
		    <p>
		      The competitive advantage our product would have over other products is it would be more specifically 
		      tailored to RPI students. Students can use the website knowing that other users also attend the same university 
		      and ensure a level of comfort in students.
		    </p>
		    <h4 class="smallHeadings">Social Value</h3>
		    <p clas="para">Our Product will allow more groups of students to make connections and meet people they may not have otherwise.</p>
		    <h4 class="smallHeadings">Community Value</h3>
		    <p>With more people forming study groups the average GPA of the community will rise.  RPI students will then be more successful later in life. This will raise the school’s ranking making additional RPI students more successful.</p>
		    <h4 class="smallHeadings">Possible Profit Value</h3>
		    <p>Currently we do not have plans to monetize the product. But, if we were to monetize it we could add banner ads to get revenue based on traffic. Additionally we could add premium features beyond the current functionality that would be part of a subscription.</p>		  
		  </div>
	  </div>
	  <br>

	  <div style="background: white; padding: 50px;">
	  	<h2 style="font-family: Merienda One;">Product Stakeholders</h2>
		  <div style="padding: 0 12px;">
		    <p>
		      Naturally, the largest stakeholders in our project are our group members, Michael Fitzgerald, Helen Yuan, 
		      Meenu Ravi, Lyle Tingle, and Gavril Rodriguez-Thompson, as we all are actively working on it and want to have
		      something we are proud of to show for our efforts. Our professor, John Sturman and our TAs Chau-Lin Huang and
		      Vaishnavi Neema also have a vested interest in our success as in doing so we will demonstrate an understanding 
		      of the strategies and guiding principles they have taught us.
		    </p>
		  </div>
	  </div>
	  
	</section>
  

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>

