<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
<br/>
<div class="headerTitle">
  <img src="/logoimg" alt="logo" width="120" height="100">
  <h1 style="display: inline-block; font-family: Segoe Script; font-weight:bold;"> Virtual Connections </h1>

</div>
<div class="sidebar" style="width: 15%; float:left">
  <nav class="navi" role="navigation">
         <ul class="nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Log In</a></li>
        <li class="active"><a href="/creategroup">Create Group<span class="sr-only">(current)</span></a></li>
        
      </ul>
  </nav>
</div>
<div class="jumbotron" style=" float:left;margin-left:0px;">
      <p>Group Creator here</p>
    </div>
</div>
</body>
</html>