<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Signup Successfull Page</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head> 
<body>
	<div class="box">
		<h2>Welcome to Virutal Connections</h2>
		<h3>Congratulations!</h3>
		<p>You have succssfully signed up with Virtual Connections. Please go to the login page to login into our website.</p>
		<a class="btn btn-primary" href="/login" role="button">Login</a>
	</div>
	

	<style type="text/css">
		html,
		body {
		  height: 100%;
		  background-color: #f5f5f5;
		}

		.box {
		  width: 100%;
		  max-width: 600px;
		  background-color: white;
		  border-top: 1px solid #d8dee2;
		  border-radius: 5px;
		  padding: 20px;
		  margin: auto;
		  margin-top: 100px;
		}

	</style>

	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body> 
</html>