<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>Signup Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="headerTitle">
    <img src="/img" alt="logo" width="120" height="100">
    <h1> Virtual Connections </h1>
  </div>
  <br>

  <div class="sidebar">
    <nav class="navi" role="navigation">
      <ul class="nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Log In</a></li>
        <li class="active"><a href="/signup">Sign Up<span class="sr-only">(current)</span></a></li>
      </ul>
    </nav>
  </div>
  
  <div class="main">
    <div class="form1">
      <form action="/sign_up" method="post">
        <h2> Create Your Account! </h2>
        <p>Please use RCS ID for Username</p>
        <input type="username" name="username" id="username" placeholder="Username" required />
        <br>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required />
        <br>
        <br>
        <input type="submit" value="Submit" />
        </form>
    </div>
  </div> 
</body>
</html>